[package]
name = "holochain_net"
version = "0.0.41-alpha4"
description = "holochain net"
license = "GPL-3.0-only"
homepage = "https://github.com/holochain/holochain-rust"
documentation = "https://github.com/holochain/holochain-rust"
authors = ["Holochain Core Dev Team <devcore@holochain.org>"]
edition = "2018"

[dev-dependencies]
lib3h_crypto_api = "=0.0.25"
base64 = "=0.10.1"
hcid = "=0.0.6"
jsonrpc-core = "=14.0.1"
tempfile = "=3.0.7"

[dependencies]
failure = "=0.1.5"
sim1h = { version = "=0.0.41-alpha4", path = "../sim1h" }
sim2h = { version = "=0.0.41-alpha4", path = "../sim2h" }
lib3h_sodium = "=0.0.25"
lib3h_protocol = "=0.0.25"
lib3h = "=0.0.25"
lib3h_zombie_actor = "=0.0.25"
detach = "=0.0.19"
holochain_tracing = { version = "=0.0.4" }
holochain_metrics = { version = "=0.0.41-alpha4", path = "../metrics" }
holochain_common = { version = "=0.0.41-alpha4", path = "../common" }
holochain_conductor_lib_api = { version = "=0.0.41-alpha4", path = "../conductor_api" }
holochain_core_types = { version = "=0.0.41-alpha4", path = "../core_types" }
holochain_locksmith = { version = "=0.0.41-alpha4", path = "../locksmith" }
holochain_json_derive = "=0.0.17"
holochain_json_api = "=0.0.17"
holochain_persistence_api = "=0.0.11"
in_stream = { version = "=0.0.41-alpha3", path = "../in_stream" }
lazy_static = "=1.2.0"
libc = "=0.2.58"
reqwest = "=0.9.11"
sha2 = "=0.8.0"
serde = "=1.0.89"
serde_derive = "=1.0.89"
serde_json = { version = "=1.0.39", features = ["preserve_order"] }
rmp-serde = "=0.13.7"
serde_bytes = "=0.10.5"
regex = "=1.1.2"
snowflake = "=1.3.0"
tungstenite = "=0.9.2"
url = { version = "=2.1.0", features = ["serde"] }
url2 = "=0.0.4"
native-tls = "=0.2.3"
crossbeam-channel = "=0.3.8"
parking_lot = "=0.8.0"
env_logger = "=0.6.1"
holochain_logging = "=0.0.4"
log = "0.4.8"

[features]

vendored = ["native-tls/vendored"]

default = [ "vendored" ]
