[package]
name = "holochain_metrics"
version = "0.0.44-alpha3"
description = "Holochain analytics from logs and other metrics"
license = "GPL-3.0-only"
authors = ["Holochain Core Dev Team <devcore@holochain.org>"]
edition = "2018"

[dependencies]
serde_json = "=1.0.47"
shrinkwraprs = "=0.2.1"
serde = { version = "=1.0.104", features = ["rc"] }
serde_derive = "=1.0.104"
holochain_locksmith = { version = "=0.0.44-alpha3", path = "../locksmith" }
holochain_tracing_macros = "=0.0.20"
holochain_common = { version = "=0.0.44-alpha3", path = "../common" }
lazy_static = "=1.4.0"
num-traits = "=0.2.6"
num-derive = "=0.2.4"
toml = "=0.5.0"
log = "=0.4.8"
holochain_logging = "=0.0.7"
regex = "=1.1.2"
env_logger = "=0.6.1"
rand = "=0.7.3"
## For cloudwatch logs / sts
rusoto_sts = "=0.40.0"
rusoto_logs = "=0.40.0"
rusoto_core = "=0.40.0"
rusoto_credential = "=0.40.0"
## For descriptive statistics on metrics
streaming-stats = "=0.2.2"
csv = "=1.1"
structopt = "=0.3.3"
structopt-derive = "=0.3.3"
strip-ansi-escapes = "=0.1.0"
snowflake = "=1.3.0"
crossbeam-channel = "=0.3.8"
chrono = "0.4.6"
newrelic="0.2"

[dev-dependencies]
tempfile = "=3.0.7"
