.git
docker

target
app_spec/zomes/blog/code/target
app_spec/zomes/summer/code/target
nodejs_container/native/target
container_api/wasm-test/target
core/src/nucleus/ribosome/target
core/src/nucleus/wasm-test/target
core/src/nucleus/actions/wasm-test/target
wasm_utils/wasm-test/integration-test/target
hdk-rust/wasm-test/target
test_utils/target
