.qmake.stash
/target/
**/*.sock
package-lock.json
**/*.rs.bk
**/Cargo.lock
Cargo.lock
container_api/wasm-test/round_trip/target
container_api/wasm-test/commit/target
core/src/nucleus/ribosome/target
core/src/nucleus/wasm-test/target
core/src/nucleus/actions/wasm-test/target
net_ipc/tests/node-p2p-ipc
build_docs_key
*.orig

cobertura.xml

.idea
.DS_Store
/**/Makefile
!/Makefile
# symlinked Makefile for docker hub
!/docker/Makefile

# Things being generated on the FS that should not be
Agent Name
*/foo
container/example-config/tmp-storage/*
