# holochain-cli deploy template
_cli_deploy_template: &_cli_deploy_template
  dist: bionic
  language: rust
  rust: nightly-2019-07-14
  if: tag =~ /^v\d+\.\d+\.\d+-alpha\d+/
  before_script:
    - ./scripts/install/auto.sh
  script:
    - cargo rustc --manifest-path crates/cli/Cargo.toml --target $TARGET --release -- -C lto
    - mkdir cli-$TRAVIS_TAG-$TARGET
    - cp target/$TARGET/release/hc cli/LICENSE cli/README.md cli-$TRAVIS_TAG-$TARGET/
    - tar czf cli-$TRAVIS_TAG-$TARGET.tar.gz cli-$TRAVIS_TAG-$TARGET/
  deploy:
    provider: releases
    api_key:
        secure: nrLixlb3mlfRoxBDp5+fBV3I81N2LhJIj7hIB+fg0RT452w0+hHuTCn79NJ4tN4M2DlENlS9o+no3wzGw/CRUuyW2/4BKQQ24B1Obf7gMQJD4p0NE8uX9SZ7er08Ndc5HjC0ZfIBTB53GKI/j5gv9vmM9qcrdeGMtCAzuM10WJBgesT7TCNrrD0iPXYtPfzyNMJXtu8VrRMBZt3dW2wrvUy73CujVECbH4BbFKOEl/EQ9Gyi8KkSSKZoeXLXHMJiuMTBrDVlUY69m9o37X6MePHmpFSDiykPGsYa8hAQcWnCY9a9LORq7scbqYeTBEVijS58jfiVPQM/tC7LPhWNPgZ2jw0V7t+tM6tTYpJjIiAf83rnNwd6I+uhjWd7QuJvgo7LfZKcSCEIW4MYgcaK14QuJv4e+tbzrJNqkskIHYcSAF5Zzvc7CkyTO5wEnfNsiKDKLmdVvgMzAxyBfT+7J0msBOvqLirSPGXJcYRpZT0kSDwfgYyqRw3gXOjUgtONS+nC3MiV/vZ74c53qt/37R2+GmDRpB4viEiYTHGZmM4woXUF58Jg6mgaLjMJaI80DbTUr8pKudNtS31EWCP0EdNflzv5Ewlu/CwAmPA0AHuk5ZyvQNtQFERVw80nP7g210Layj6rLKMvEMgiecLgw1VmzOEoGPnMksnyJpplyqA=
    file_glob: true
    file: cli-$TRAVIS_TAG-$TARGET.tar.gz
    skip_cleanup: true
    on:
        tags: true
    name: $TRAVIS_TAG

# holochain-conductor deploy template
_conductor_deploy_template: &_conductor_deploy_template
  dist: bionic
  language: rust
  rust: nightly-2019-07-14
  if: tag =~ /^v\d+\.\d+\.\d+-alpha\d+/
  before_script:
    - ./scripts/install/auto.sh
  script:
    - cargo rustc --manifest-path crates/holochain/Cargo.toml --target $TARGET --release -- -C lto
    - mkdir conductor-$TRAVIS_TAG-$TARGET
    - cp target/$TARGET/release/holochain conductor/LICENSE conductor/README.md conductor-$TRAVIS_TAG-$TARGET/
    - tar czf conductor-$TRAVIS_TAG-$TARGET.tar.gz conductor-$TRAVIS_TAG-$TARGET/
  deploy:
    provider: releases
    api_key:
        secure: nrLixlb3mlfRoxBDp5+fBV3I81N2LhJIj7hIB+fg0RT452w0+hHuTCn79NJ4tN4M2DlENlS9o+no3wzGw/CRUuyW2/4BKQQ24B1Obf7gMQJD4p0NE8uX9SZ7er08Ndc5HjC0ZfIBTB53GKI/j5gv9vmM9qcrdeGMtCAzuM10WJBgesT7TCNrrD0iPXYtPfzyNMJXtu8VrRMBZt3dW2wrvUy73CujVECbH4BbFKOEl/EQ9Gyi8KkSSKZoeXLXHMJiuMTBrDVlUY69m9o37X6MePHmpFSDiykPGsYa8hAQcWnCY9a9LORq7scbqYeTBEVijS58jfiVPQM/tC7LPhWNPgZ2jw0V7t+tM6tTYpJjIiAf83rnNwd6I+uhjWd7QuJvgo7LfZKcSCEIW4MYgcaK14QuJv4e+tbzrJNqkskIHYcSAF5Zzvc7CkyTO5wEnfNsiKDKLmdVvgMzAxyBfT+7J0msBOvqLirSPGXJcYRpZT0kSDwfgYyqRw3gXOjUgtONS+nC3MiV/vZ74c53qt/37R2+GmDRpB4viEiYTHGZmM4woXUF58Jg6mgaLjMJaI80DbTUr8pKudNtS31EWCP0EdNflzv5Ewlu/CwAmPA0AHuk5ZyvQNtQFERVw80nP7g210Layj6rLKMvEMgiecLgw1VmzOEoGPnMksnyJpplyqA=
    file_glob: true
    file: conductor-$TRAVIS_TAG-$TARGET.tar.gz
    skip_cleanup: true
    on:
        tags: true
    name: $TRAVIS_TAG

jobs:
  # test builds are ordered from slowest to quickest
  # this allows us to keep walltimes down
  include:

    # holochain-cli releases section
    - name: "CLI DEPLOY - 64 bit Linux"
      <<: *_cli_deploy_template
      os: linux
      env:
        - TARGET=x86_64-unknown-linux-gnu
        - CRATE_NAME=hc

    - name: "CLI DEPLOY - 64 bit OSX"
      <<: *_cli_deploy_template
      os: osx
      env:
        - TARGET=x86_64-apple-darwin
        - CRATE_NAME=hc

    - name: "CLI DEPLOY - 64 bit Windows MSVC"
      <<: *_cli_deploy_template
      os: windows
      rust: nightly-2019-07-14-x86_64-pc-windows-msvc
      env:
        - TARGET=x86_64-pc-windows-msvc
        - CRATE_NAME=hc

    - name: "CLI DEPLOY - 64 bit Windows GNU"
      <<: *_cli_deploy_template
      os: windows
      rust: nightly-2019-07-14-x86_64-pc-windows-gnu
      env:
        - TARGET=x86_64-pc-windows-gnu
        - CRATE_NAME=hc

    # holochain-conductor releases section
    - name: "CONDUCTOR DEPLOY - 64 bit Linux"
      <<: *_conductor_deploy_template
      os: linux
      env:
        - TARGET=x86_64-unknown-linux-gnu
        - CRATE_NAME=conductor

    - name: "CONDUCTOR DEPLOY - 64 bit OSX"
      <<: *_conductor_deploy_template
      os: osx
      env:
        - TARGET=x86_64-apple-darwin
        - CRATE_NAME=conductor

    - name: "CONDUCTOR DEPLOY - 64 bit Windows MSVC"
      <<: *_conductor_deploy_template
      os: windows
      rust: nightly-2019-07-14-x86_64-pc-windows-msvc
      env:
        - TARGET=x86_64-pc-windows-msvc
        - CRATE_NAME=conductor

    - name: "CONDUCTOR DEPLOY - 64 bit Windows GNU"
      <<: *_conductor_deploy_template
      os: windows
      rust: nightly-2019-07-14-x86_64-pc-windows-gnu
      env:
        - TARGET=x86_64-pc-windows-gnu
        - CRATE_NAME=conductor
