[workspace]

members = [
  "crates/cli",
  "crates/metrics",
  "crates/common",
  "crates/holochain",
  "crates/conductor_lib",
  "crates/conductor_api",
  "crates/holochain_wasm",
  "crates/core",
  "crates/core_types",
  "crates/dpki",
  "crates/hdk_v2",
  "crates/hdk",
  "crates/in_stream",
  "crates/locksmith",
  "crates/net",
  "crates/stress",
  "crates/trycp_server",
  "crates/sim1h",
  "crates/sim2h",
  "crates/sim2h_server",
  "crates/wasm_utils",
  "crates/new-relic-proc-macro"
]
exclude = [
  "test_utils",
  "app_spec",
  "app_spec_proc_macro",
  "nodejs_conductor/native"
]

[patch.crates-io]
#lib3h = "=0.0.25"
#lib3h_protocol = "=0.0.25"
#lib3h_crypto_api = "=0.0.25"
#lib3h_sodium = "=0.0.25"
#lib3h_zombie_actor = "=0.0.25"
