[package]
name = "trycp_server"
version = "0.0.47-alpha1"
authors = ["Holochain Core Dev Team <devcore@holochain.org>"]
edition = "2018"
description = "Conductor provisioner server for try-o-rama"
keywords = ["holochain", "holo", "p2p", "network", "simulation"]
categories = ["network-programming"]
license = "GPL-3.0-only"
readme = "README.md"
documentation = "https://github.com/holochain/holochain-rust"
repository = "https://github.com/holochain/holochain-rust"

[dependencies]
in_stream = { version = "=0.0.47-alpha1", path = "../in_stream" }
log = "0.4.8"
env_logger = "0.7.0"
structopt = "0.2.15"
jsonrpc-core = "14.0"
jsonrpc-ws-server = "14.0"
serde_json = { version = "=1.0.47", features = ["preserve_order"] }
serde_derive = "=1.0.104"
serde = "=1.0.104"
base64 = "=0.10.1"
tempfile = "=3.0.7"
lazy_static = "=1.4.0"
nix = "=0.14.1"
reqwest = "=0.9.11"
regex = "=1.1.2"
snowflake = "=1.3.0"
url2 = "=0.0.4"
