[package]
name = "holochain_core_types"
version = "0.0.34-alpha1"
authors = ["Holochain Core Dev Team <devcore@holochain.org>"]
build = "build.rs"
description = "core types needed for all holochain development"
keywords = ["holochain", "holo", "p2p"]
license = "GPL-3.0-only"
readme = "README.md"
documentation = "https://github.com/holochain/holochain-rust"
repository = "https://github.com/holochain/holochain-rust"

[dependencies]
arrayref = "=0.3.5"
base64 = "=0.10.1"
backtrace = "=0.3.27"
chrono = "=0.4.6"
serde = "=1.0.89"
serde_derive = "=1.0.89"
serde_json = { version = "=1.0.39", features = ["preserve_order"] }
lazy_static = "=1.2.0"
multihash = "=0.8.0"
futures-preview = "=0.3.0-alpha.17"
futures-core-preview = "=0.3.0-alpha.17"
futures-channel-preview = "=0.3.0-alpha.17"
futures-executor-preview = "=0.3.0-alpha.17"
futures-io-preview = "=0.3.0-alpha.17"
futures-sink-preview = "=0.3.0-alpha.17"
futures-util-preview = "=0.3.0-alpha.17"
mashup = "0.1.9"
wasmi = "=0.4.4"
hcid = "=0.0.6"
rust-base58 = "=0.0.4"
snowflake = "=1.3.0"
objekt= "=0.1.2"
holochain_persistence_api = "=0.0.10"
holochain_json_derive = "=0.0.17"
holochain_json_api = "=0.0.17"
uuid = { version = "=0.7.1", features = ["v4"] }
regex = "=1.1.2"
shrinkwraprs = "=0.2.1"
crossbeam-channel = "=0.3.8"
lib3h_crypto_api = "=0.0.19"
parking_lot ="=0.9.0"
log = "=0.4.8"
holochain_logging = "=0.0.4"

[dev-dependencies]
# test_utils = { version = "=0.0.33-alpha5", path = "../../test_utils"}
maplit = "=1.0.1"
