[package]
name = "holochain_core_api_c_binding"
version = "0.1.0"
authors = ["Nicolas Luck <nicolas@lucksus.eu>"]

[lib]
name = "holochain_core_api_c_binding"
crate-type = ["staticlib"]


[dependencies]
holochain_core = { path = "../core" }
holochain_core_api = { path = "../core_api" }
holochain_dna = { path = "../dna" }
holochain_agent = { path = "../agent" }
holochain_cas_implementations = { path = "../cas_implementations" }
directories="1.0.2"
