[package]
name = "hc"
description = "holochain app scaffolding tools"
license = "GPL-3.0-only"
homepage = "https://github.com/holochain/holochain-rust"
documentation = "https://github.com/holochain/holochain-rust"
version = "0.0.41-alpha3"
authors = ["Holochain Core Dev Team <devcore@holochain.org>"]

[dependencies]
holochain_core_types = { version = "=0.0.41-alpha3", path = "../core_types" }
holochain_core = { version = "=0.0.41-alpha3", path = "../core" }
holochain_common = { version = "=0.0.41-alpha3", path = "../common" }
holochain_conductor_lib = { version = "=0.0.41-alpha3", path = "../conductor_lib" }
holochain_net = { version = "=0.0.41-alpha3", path = "../net" }
holochain_dpki = { version = "=0.0.41-alpha3", path = "../dpki" }
holochain_locksmith = { version = "=0.0.41-alpha3", path = "../locksmith" }
lib3h_sodium = "=0.0.25"
holochain_json_api = "=0.0.17"
holochain_persistence_api = "=0.0.11"
holochain_persistence_file = "=0.0.11"
holochain_wasm_utils = { path = "../wasm_utils" }
structopt = "=0.3.3"
failure = "=0.1.5"
serde = "=1.0.89"
serde_derive = "=1.0.89"
serde_json = { version = "=1.0.39", features = ["preserve_order"] }
toml = "=0.5.0"
semver = { version = "0.9.0", features = ["serde"] }
base64 = "=0.10.1"
colored = "=1.7.0"
ignore = "=0.4.6"
rpassword = "=2.1.0"
tera = "=0.11.20"
glob = "=0.3.0"
rustyline = "=5.0.0"
json-patch = "=0.2.2"
reqwest = "=0.9.11"
tempfile = "=3.0.7"
tar = "=0.4.26"
flate2 = "=1.0.12"

[dev-dependencies]
assert_cmd = "=0.10.2"
