[package]
name = "hc"
description = "holochain app scaffolding tools"
license = "Apache-2.0"
homepage = "https://github.com/holochain/holochain-rust"
documentation = "https://github.com/holochain/holochain-rust"
version = "0.0.34-alpha1"
authors = ["Holochain Core Dev Team <devcore@holochain.org>"]

[dependencies]
holochain_core_types = { version = "=0.0.34-alpha1", path = "../core_types" }
holochain_core = { version = "=0.0.34-alpha1", path = "../core" }
holochain_common = { version = "=0.0.34-alpha1", path = "../common" }
holochain_conductor_lib = { version = "=0.0.34-alpha1", path = "../conductor_lib" }
holochain_dpki = { version = "=0.0.34-alpha1", path = "../dpki" }
lib3h_sodium = "=0.0.19"
holochain_json_api = "=0.0.17"
holochain_persistence_api = "=0.0.10"
holochain_persistence_file = "=0.0.10"
holochain_wasm_utils = { path = "../wasm_utils" }
structopt = "=0.2.15"
failure = "=0.1.5"
serde = "=1.0.89"
serde_derive = "=1.0.89"
serde_json = { version = "=1.0.39", features = ["preserve_order"] }
toml = "=0.5.0"
semver = { version = "0.9.0", features = ["serde"] }
base64 = "=0.10.1"
colored = "=1.7.0"
ignore = "=0.4.6"
rpassword = "=2.1.0"
rustyline = "=5.0.0"

[dev-dependencies]
tempfile = "=3.0.7"
assert_cmd = "=0.10.2"
