[package]
name = "holochain_conductor_lib"
description = "holochain conductor library"
license = "GPL-3.0-only"
homepage = "https://github.com/holochain/holochain-rust"
documentation = "https://github.com/holochain/holochain-rust"
version = "0.0.37-alpha12"
authors = ["Holochain Core Dev Team <devcore@holochain.org>"]

[dependencies]
holochain_core = { version = "=0.0.37-alpha12", path = "../core" }
holochain_core_types = { version = "=0.0.37-alpha12", path = "../core_types" }
holochain_locksmith = { version = "=0.0.37-alpha12", path = "../locksmith" }
holochain_json_derive = "=0.0.17"
holochain_json_api = "=0.0.17"
holochain_persistence_api = "=0.0.10"
holochain_persistence_mem = "=0.0.10"
holochain_persistence_file = "=0.0.10"
holochain_persistence_pickle = "=0.0.10"
holochain_persistence_lmdb = "=0.0.10"
holochain_dpki = { version = "=0.0.37-alpha12", path = "../dpki" }
holochain_net = { version = "=0.0.37-alpha12", path = "../net" }
lib3h = "=0.0.21"
lib3h_sodium = "=0.0.21"
holochain_common = { version = "=0.0.37-alpha12", path = "../common" }
chrono = "=0.4.6"
serde = "=1.0.89"
serde_json = { version = "=1.0.39", features = ["preserve_order"] }
serde_derive = "=1.0.89"
serde_regex = "=0.3.1"
toml = "=0.5.0"
boolinator = "=2.4.0"
tiny_http = "=0.6.2"
jsonrpc-core = "14.0.1"
jsonrpc-ws-server = "14.0.1"
jsonrpc-http-server = "14.0.1"
petgraph = "=0.4.13"
colored = "=1.7.0"
regex = "=1.1.2"
maplit = "=1.0.1"
lazy_static = "=1.2.0"
json-patch = "=0.2.2"
hyper = "=0.12.25"
fs_extra = "=1.1.0"
rpassword = "=2.1.0"
base64 = "=0.10.1"
reqwest = "=0.9.11"
crossbeam-channel = "=0.3.8"
log = "=0.4.8"
holochain_logging = "=0.0.4"
nickel = "=0.11.0"
url = { version = "=2.1.0", features = ["serde"] }
matches = "0.1.8"

[dev-dependencies]
test_utils = { version = "=0.0.37-alpha12", path = "../../test_utils" }
tempfile = "=3.0.7"
holochain_wasm_utils = { version = "=0.0.37-alpha12", path = "../wasm_utils" }
structopt = "=0.2.15"
pretty_assertions = "=0.6.1"
ws = "=0.8.0"
parking_lot = "=0.7.1"
