[package]
name = "holochain_wasm_utils"
version = "0.0.7-alpha"
authors = ["Holochain Core Dev Team <devcore@holochain.org>"]

[dependencies]
serde = "1.0"
serde_derive = "1.0"
serde_json = { version = "1.0", features = ["preserve_order"] }
holochain_core_types = { path = "../core_types" }
holochain_core_types_derive = { path = "../core_types_derive" }

[dev-dependencies]
test_utils = { path = "../test_utils"}
holochain_core = { path = "../core" }
holochain_conductor_api = { path = "../conductor_api" }
holochain_cas_implementations= {path="../cas_implementations"}
tempfile = "=3.0.7"
