[package]
name = "holochain_conductor_lib_api"
description = "holochain conductor lib api"
license = "Apache-2.0"
homepage = "https://github.com/holochain/holochain-rust"
documentation = "https://github.com/holochain/holochain-rust"
version = "0.0.33-alpha5"
authors = ["Holochain Core Dev Team <devcore@holochain.org>"]
edition = "2018"

[dependencies]
holochain_core_types = { version = "=0.0.33-alpha5", path = "../core_types" }
holochain_wasm_utils = { version = "=0.0.33-alpha5", path = "../wasm_utils" }
jsonrpc-core = "=14.0.1"
jsonrpc-lite = "=0.5.0"
serde = { version = "=1.0.89", features = ["rc"] }
serde_json = { version = "=1.0.39", features = ["preserve_order"] }
snowflake = "=1.3.0"
