[package]
name = "holochain_conductor_lib_api"
description = "holochain conductor lib api"
license = "GPL-3.0-only"
homepage = "https://github.com/holochain/holochain-rust"
documentation = "https://github.com/holochain/holochain-rust"
version = "0.0.42-alpha5"
authors = ["Holochain Core Dev Team <devcore@holochain.org>"]
edition = "2018"

[dependencies]
holochain_core_types = { version = "=0.0.42-alpha5", path = "../core_types" }
holochain_wasm_utils = { version = "=0.0.42-alpha5", path = "../wasm_utils" }
holochain_locksmith = { version = "=0.0.42-alpha5", path = "../locksmith" }
jsonrpc-core = "=14.0.1"
jsonrpc-lite = "=0.5.0"
serde = { version = "=1.0.89", features = ["rc"] }
serde_json = { version = "=1.0.39", features = ["preserve_order"] }
snowflake = "=1.3.0"
base64 = "=0.10.1"
holochain_persistence_api = { git = "https://github.com/holochain/holochain-persistence", branch = "transactional" }
holochain_persistence_lmdb = { git = "https://github.com/holochain/holochain-persistence", branch = "transactional" }
holochain_persistence_file = { git = "https://github.com/holochain/holochain-persistence", branch = "transactional" }
holochain_persistence_pickle = { git = "https://github.com/holochain/holochain-persistence", branch = "transactional" }
holochain_persistence_mem = { git = "https://github.com/holochain/holochain-persistence", branch = "transactional" }
