[package]
name = "holochain_conductor_lib_api"
description = "holochain conductor lib api"
license = "GPL-3.0-only"
homepage = "https://github.com/holochain/holochain-rust"
documentation = "https://github.com/holochain/holochain-rust"
version = "0.0.47-alpha1"
authors = ["Holochain Core Dev Team <devcore@holochain.org>"]
edition = "2018"

[dependencies]
holochain_core_types = { version = "=0.0.47-alpha1", path = "../core_types" }
holochain_wasm_utils = { version = "=0.0.47-alpha1", path = "../wasm_utils" }
holochain_locksmith = { version = "=0.0.47-alpha1", path = "../locksmith" }
holochain_tracing_macros = "=0.0.24"
holochain_common = { version = "=0.0.47-alpha1", path = "../common" }
newrelic = { version = "=0.2.2", optional = true }
jsonrpc-core = "=14.0.1"
jsonrpc-lite = "=0.5.0"
serde = { version = "=1.0.104", features = ["rc"] }
serde_json = { version = "=1.0.47", features = ["preserve_order"] }
snowflake = "=1.3.0"
base64 = "=0.10.1"
lazy_static = "=1.4.0"

[features]
default = []
newrelic-on = ["newrelic"]