[package]
name = "holochain_core"
version = "0.1.0"
authors = ["Nicolas Luck <nicolas@lucksus.org>",
           "David Meister <thedavidmeister@gmail.com>"]

[dependencies]
holochain_dna = { path = "../dna" }
holochain_agent = { path = "../agent" }
holochain_net = { path = "../net" }
chrono = "0.4"
wasmi = "0.3"
snowflake = "1.2"
serde = "1.0"
serde_derive = "1.0"
serde_json = { version = "1.0", features = ["preserve_order"] }
multihash = "0.8.0"
rust-base58 = "0.0.4"
bitflags = "1.0"
holochain_wasm_utils = { path = "../wasm_utils"}
riker = "0.1.7"
riker-default = "0.1.7"
riker-patterns = "0.1.7"
futures-preview = "0.2.2"
lazy_static = "1.1.0"
unwrap_to = "0.1.0"
num-traits = "0.2"
num-derive = "0.2"
walkdir = "2"
tempfile = "3"
config = "0.8"
regex = "1"

[dev-dependencies]
wabt = "0.4"
test_utils = { path = "../test_utils"}
