[package]
name = "holochain_core"
version = "0.0.1"
authors = ["Holochain Core Dev Team <devcore@holochain.org>"]

[dependencies]
holochain_dna = { path = "../dna" }
holochain_agent = { path = "../agent" }
holochain_net = { path = "../net" }
chrono = "0.4"
wasmi = "0.3"
snowflake = "1.2"
rust-base58 = "0.0.4"
serde = "1.0"
serde_derive = "1.0"
serde_json = { version = "1.0", features = ["preserve_order"] }
multihash = "0.8.0"
bitflags = "1.0"
holochain_wasm_utils = { path = "../wasm_utils"}
futures-preview = "0.2.2"
lazy_static = "1.1.0"
unwrap_to = "0.1.0"
num-traits = "0.2"
num-derive = "0.2"
config = "0.8"
regex = "1"
holochain_core_types = { path = "../core_types" }
holochain_cas_implementations = { path = "../cas_implementations" }


[dev-dependencies]
wabt = "0.4"
test_utils = { path = "../test_utils"}
tempfile="3"
