[package]
name = "holochain_wasm_utils"
version = "0.0.43-alpha3"
description = "holochain wasm utils"
license = "GPL-3.0-only"
homepage = "https://github.com/holochain/holochain-rust"
documentation = "https://github.com/holochain/holochain-rust"
authors = ["Holochain Core Dev Team <devcore@holochain.org>"]

[dependencies]
serde = "=1.0.104"
serde_derive = "=1.0.104"
serde_json = { version = "=1.0.47", features = ["preserve_order"] }
holochain_core_types = { version = "=0.0.43-alpha3", path = "../core_types" }
holochain_json_api = "=0.0.23"
holochain_json_derive = "=0.0.23"
holochain_persistence_api = { git = "https://github.com/holochain/holochain-persistence", branch = "transactional" }

[dev-dependencies]
test_utils = { version = "=0.0.43-alpha3", path = "../../test_utils" }
holochain_core = { version = "=0.0.43-alpha3", path = "../core" }
holochain_conductor_lib = { version = "=0.0.43-alpha3", path = "../conductor_lib" }
tempfile = "=3.0.7"
