[package]
name = "holochain_core"
version = "0.0.43-alpha3"
description = "holochain core"
license = "GPL-3.0-only"
homepage = "https://github.com/holochain/holochain-rust"
documentation = "https://github.com/holochain/holochain-rust"
authors = ["Holochain Core Dev Team <devcore@holochain.org>"]
edition = "2018"

[dependencies]
base64 = "=0.10.1"
serde = { version = "=1.0.104", features = ["rc"] }
serde_derive = "=1.0.104"
chrono = "=0.4.6"
serde_json = { version = "=1.0.47", features = ["preserve_order"] }
snowflake = { version = "=1.3.0", features = ["serde_support"] }
bitflags = "=1.2.1"
wasmi = "=0.4.4"
wasmer-runtime = "=0.13.1"
failure = "=0.1.5"
lazy_static = "=1.4.0"
unwrap_to = "=0.1.0"
num-traits = "=0.2.6"
num-derive = "=0.2.4"
toml = "=0.5.0"
futures = { version = "=0.3.2", features = [ "thread-pool" ] }
holochain_net = { version = "=0.0.43-alpha3", path = "../net" }
holochain_wasm_utils = { version = "=0.0.43-alpha3", path = "../wasm_utils" }
holochain_common = { version = "=0.0.43-alpha3", path = "../common" }
holochain_conductor_lib_api = { version = "=0.0.43-alpha3", path = "../conductor_api" }
lib3h_protocol = "=0.0.37"
lib3h_sodium = "=0.0.37"
holochain_json_derive = "=0.0.23"
holochain_json_api = "=0.0.23"
holochain_persistence_api = "=0.0.16"
holochain_persistence_file = "=0.0.16"
holochain_persistence_mem = "=0.0.16"
holochain_core_types = { version = "=0.0.43-alpha3", path = "../core_types" }
holochain_dpki = { version = "=0.0.43-alpha3", path = "../dpki" }
holochain_locksmith = { version = "=0.0.43-alpha3", path = "../locksmith" }
holochain_metrics = { version = "=0.0.43-alpha3", path = "../metrics" }
holochain_tracing = "=0.0.19"
holochain_tracing_macros = "=0.0.19"
log = "=0.4.8"
holochain_logging = "=0.0.7"
boolinator = "=2.4.0"
jsonrpc-core = "14.0.1"
jsonrpc-lite = "=0.5.0"
globset = "=0.4.2"
pretty_assertions = "=0.6.1"
pin-utils = "=0.1.0-alpha.4"
clokwerk = "=0.1.0"
crossbeam-channel = "=0.3.8"
regex = "=1.1.2"
env_logger = "=0.6.1"
url = { version = "=2.1.0", features = ["serde"] }
rand = "0.7.2"
threadpool = "=1.7.1"
im = { version = "=14.0.0", features = ["serde"] }
itertools = "0.8.2"
newrelic="0.2"

[dev-dependencies]
wabt = "=0.7.4"
test_utils = { version = "=0.0.43-alpha3", path = "../../test_utils" }
tempfile = "=3.0.7"
holochain_persistence_lmdb = "=0.0.16"
