[package]
name = "sim2h_server"
version = "0.0.43-alpha2"
authors = ["Holochain Core Dev Team <devcore@holochain.org>"]
edition = "2018"
description = "A simulation of lib3h - server executable"
keywords = ["holochain", "holo", "p2p", "network", "simulation"]
categories = ["network-programming"]
license = "GPL-3.0-only"
readme = "README.md"
documentation = "https://github.com/holochain/sim2h"
repository = "https://github.com/holochain/sim2h"

[dependencies]
sim2h = { version = "=0.0.43-alpha2", path = "../sim2h" }
holochain_common = { version = "=0.0.43-alpha2", path = "../common" }
holochain_tracing_macros = "0.0.16"
newrelic="0.2"
detach = "=0.0.19"
futures = "=0.3.2"
lib3h = "=0.0.35"
lib3h_protocol = "=0.0.35"
lib3h_sodium = "=0.0.35"
lazy_static = "=1.4.0"
log = "0.4.8"
env_logger = "0.7.0"
structopt = "=0.2.15"
