[package]
name = "sim2h_server"
version = "0.0.33-alpha5"
authors = ["Holochain Core Dev Team <devcore@holochain.org>"]
edition = "2018"
description = "A simulation of lib3h - server executable"
keywords = ["holochain", "holo", "p2p", "network", "simulation"]
categories = ["network-programming"]
license = "Apache-2.0"
readme = "readme.md"
documentation = "https://github.com/holochain/sim2h"
repository = "https://github.com/holochain/sim2h"

[dependencies]
sim2h = { path = "../sim2h" }
detach = "=0.0.19"
lib3h = { git = "https://github.com/holochain/lib3h", branch = "ghost-mutex" }
lib3h_protocol = { git = "https://github.com/holochain/lib3h", branch = "ghost-mutex" }
log = "0.4.8"
env_logger = "0.7.0"
structopt = "=0.2.15"
