[package]
name = "test-bridge-caller"
version = "0.0.21-alpha1"
authors = ["Holochain Core Dev Team <devcore@holochain.org>"]

[lib]
crate-type = ["cdylib"]

[profile.release]
panic = "abort"

[workspace]
members = []

[dependencies]
serde = "=1.0.89"
serde_json = { version = "=1.0.39", features = ["preserve_order"] }
hdk = { path = "../../hdk-rust" }
serde_derive = "=1.0.89"
holochain_json_derive = "=0.0.1-alpha2"
holochain_persistence_api = "=0.0.4-alpha1"
