[package]
name = "sim2h"
version = "0.0.43-alpha3"
authors = ["Holochain Core Dev Team <devcore@holochain.org>"]
edition = "2018"
description = "A simulation of lib3h"
keywords = ["holochain", "holo", "p2p", "network", "simulation"]
categories = ["network-programming"]
license = "GPL-3.0-only"
readme = "README.md"
documentation = "https://github.com/holochain/sim2h"
repository = "https://github.com/holochain/sim2h"

[dependencies]
backtrace = "=0.3.27"
hcid = "=0.0.6"
holochain_json_api = "=0.0.23"
holochain_persistence_api = { git = "https://github.com/holochain/holochain-persistence", branch = "transactional" }
futures = "=0.3.2"
lib3h = { git = "https://github.com/holochain/lib3h", branch = "transactional" }
lib3h_crypto_api = { git = "https://github.com/holochain/lib3h", branch = "transactional" }
lib3h_sodium = { git = "https://github.com/holochain/lib3h", branch = "transactional" }
lib3h_protocol = { git = "https://github.com/holochain/lib3h", branch = "transactional" }
lib3h_zombie_actor = { git = "https://github.com/holochain/lib3h", branch = "transactional" }
holochain_core_types = { version = "=0.0.43-alpha3", path = "../core_types" }
holochain_locksmith = { version = "=0.0.43-alpha3", path = "../locksmith" }
holochain_metrics = { version = "=0.0.43-alpha3", path = "../metrics" }
holochain_common = { version = "=0.0.43-alpha3", path = "../common" }
holochain_tracing = "=0.0.19"
holochain_tracing_macros = "=0.0.19"
im = { version = "=14.0.0", features = ["serde"] }
in_stream = { version = "=0.0.43-alpha3", path = "../in_stream" }
uuid = { version = "0.4", features = ["v4"] }
log = "=0.4.8"
env_logger = "=0.6.1"
lazy_static = "=1.4.0"
nanoid = "=0.2.0"
num_cpus = "=1.11.1"
url = "=2.1.0"
url2 = "=0.0.4"
crossbeam-channel = "=0.3.8"
snowflake = "=1.3.0"
parking_lot = "=0.8.0"
serde = "=1.0.104"
serde_derive = "=1.0.104"
serde_json = "=1.0.47"
tokio = { version = "=0.2.11", features = ["full"] }
#tokio-tungstenite = { git = "https://github.com/snapview/tokio-tungstenite.git" }
rand = "=0.7.2"
base64 = "=0.10.1"
chrono = "=0.4.6"
native-tls = "=0.2.3"
openssl = "=0.10.25"
tungstenite = "=0.9.2"
threadpool = "=1.7.1"
newrelic="0.2"
