[package]
name = "sim2h"
version = "0.0.41-alpha4"
authors = ["Holochain Core Dev Team <devcore@holochain.org>"]
edition = "2018"
description = "A simulation of lib3h"
keywords = ["holochain", "holo", "p2p", "network", "simulation"]
categories = ["network-programming"]
license = "GPL-3.0-only"
readme = "README.md"
documentation = "https://github.com/holochain/sim2h"
repository = "https://github.com/holochain/sim2h"

[dependencies]
hcid = "=0.0.6"
holochain_persistence_api = "=0.0.11"
holochain_json_api = "=0.0.17"
detach = "=0.0.19"
lib3h = { path = "/home/michael/Holo/lib3h/crates/lib3h" }
lib3h_crypto_api = { path = "/home/michael/Holo/lib3h/crates/crypto_api" }
lib3h_sodium = { path = "/home/michael/Holo/lib3h/crates/sodium" }
lib3h_protocol = { path = "/home/michael/Holo/lib3h/crates/lib3h_protocol" }
lib3h_zombie_actor = { path = "/home/michael/Holo/lib3h/crates/zombie_actor" }
holochain_tracing = { path = "/home/michael/Holo/tracing/crates/tracing" }
holochain_core_types = { version = "=0.0.41-alpha4", path = "../core_types" }
holochain_locksmith = { version = "=0.0.41-alpha4", path = "../locksmith" }
in_stream = { version = "=0.0.41-alpha4", path = "../in_stream" }
uuid = { version = "0.4", features = ["v4"] }
log = "=0.4.8"
env_logger = "=0.6.1"
lazy_static = "=1.2.0"
nanoid = "=0.2.0"
num_cpus = "=1.11.1"
url = "=2.1.0"
url2 = "=0.0.4"
crossbeam-channel = "=0.3.8"
snowflake = "=1.3.0"
parking_lot = "=0.8.0"
serde = "=1.0.89"
serde_derive = "=1.0.89"
serde_json = "=1.0.39"
rand = "=0.7.2"
base64 = "=0.10.1"
chrono = "=0.4.6"
native-tls = "=0.2.3"
openssl = "=0.10.25"
tungstenite = "=0.9.2"
